.info {
    text-align: center;
}

.info h2 {
    color: #5cc9fb;
    text-shadow: 0px 0px 10px rgb(82, 75, 75);
    font-family: 'Freesans Bold', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    font-weight: bolder;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.info p {
    color: #6c868e;
    font-size: 25px;
    text-shadow: 0px 0px 5px gray;
}

.tagline {
    margin: 20px;
}

.greenglow {
    color: green;
}

.grayglow {
    color: gray;
}

.redglow {
    color: red;
}

.goldglow {
    color: gold;
}