.gameDetails {
    display: grid;
    grid-template-columns: 50%, 50%;
    justify-content: center;
    margin-bottom: 3em;
    font-family: 'Freesans Bold', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    font-weight: bold;
    border-radius: 25%;
}

.showGameImage {
    grid-column: 1;
    border-radius: 3%;
    margin-right: 5em;
    margin-top: 2em;
    height: 400px;
    width: auto;
    animation: glow 4s linear infinite;
}

@keyframes glow {
    0% {
        box-shadow: 0px 0px 5px 3px white;
    }
    25% {
        box-shadow: 0px 0px 10px 5px rgb(148, 170, 212);
    }
    50% {
        box-shadow: 0px 0px 20px 10px rgb(104, 112, 128);
    }
    75% {
        box-shadow: 0px 0px 10px 5px rgb(152, 169, 200);
    }
    100% {
        box-shadow: 0px 0px 5px 3px white;
    }
}

.gameInfo {
    grid-column: 2;
    color: #596f75;
    margin-left: 3em;
    -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.gameDetailsName {
    color: yellow;
    font-size: 30px;
}

.gameDetails button {
    cursor: pointer;
    font-size: 30px;
    margin-bottom: 1em;
    border: none;
    text-decoration: none;
    background: transparent;
    color: #495a5f;
    font-weight: bolder;
}

.gameEdit:hover {
    color: #5cc9fb;
}

.delete:hover {
    color: rgb(255, 102, 102)
}

.gameBack {
    cursor: pointer;
    font-size: 30px;
    margin-bottom: 1em;
    border: none;
    text-decoration: none;
    background: transparent;
    color: #364347;
    font-weight: bolder;
}

.gameBack:hover {
    color: white;
}

.gameMultiplayer img {
    max-width: 25px;
}

.game-deletion-container-navigation {
  background-color: rgb(198, 242, 255);
  border-radius: 10px;
}

.game-deletion-container-navigation p {
  display: flex;
  justify-content: center;
  padding-top: 25px;
  padding-right: 10px;
  padding-left: 10px;
}

.game-deletion-container-navigation ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

.game-deletion-container-navigation ul li {
  padding-right: 40px;
}

.game-deletion-container-navigation ul li button:hover {
    color: white;
}